<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="robots" content="noindex, nofollow">
</head>
<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.js"></script>
<body>
<div class="content">
    <div class="form-main">
        <div class="form-header">
            <h1>Admin Login</h1>
        </div>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="email" name="username" class="form-control" placeholder="Email">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>
</body>
</html>