html, body {
    font-family: 'Open Sans', "PingFang SC", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}

a {
    color: #ff5371;
    text-decoration: none !important;
}

.video-js {
    width: 100% !important;
    height: 100% !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.main-content {
    max-width: 1280px;
    margin: 0 auto;
}

.shadow-card {
    border-radius: 2px;
    overflow: hidden;
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.banner {
    background-image: url('//s-img.niconico.in/large/a15b4afegw1f4dqgd7m6vj218g0iwwkb.jpg');
    background-size: cover;
    background-position: center;
}

.banner-room {
    padding-top: 3em;
    padding-bottom: 3em;
}

.banner-player {
    width: 100%;
}

.player-shadow {
    width: 68%;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.inner {
    padding: 11em 0 9em;
}

.unslider {
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

.unslider-nav {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.unslider-nav ol {
    list-style: none;
    text-align: center;
}

.unslider-nav ol li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background: transparent;
    border-radius: 90%;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;
}

.unslider-nav ol li.unslider-active {
    background: #fff;
    cursor: default;
}

.live-nav-top {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, .5);
    padding: .5rem 2rem;
}

.all-nav-top {
    position: fixed;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, 1);
    padding: .5rem 2rem;
}

.live-nav-top a, .all-nav-top a {
    color: black;
}

.top-bar {
    padding-left: 0;
    padding-right: 0;
}

.sub-header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.category-header {
    padding-top: 4em;
    padding-bottom: 4em;
    color: white;
}

.live-card {
    background-size: cover;
    background-position: center;
    min-height: 120px;
    border-radius: 2px;
    overflow: hidden;
}

.live-card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.45);
}

.live-card-title p {
    padding: 10px 12px;
    margin-right: 76px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.live-card-avatar {
    position: absolute;
    border-radius: 100%;
    top: -28px;
    right: 10px;
    padding: 3px;
    background-color: white;
}

.live-card-avatar img {
    border-radius: 100%;
    width: 100%;
}

.live-sub-title {
    font-size: .6em;
    padding-left: 1em;
}

.content-footer {
    padding: 35px 0 25px 0;
    text-align: center;
}

.directory-card {
    background-size: cover;
    background-position: center;
    min-height: 120px;
    border-radius: 2px;
    overflow: hidden;
}

.directory-card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.45);
}

.directory-card-title p {
    padding: 10px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-padding-left {
    padding-left: 0;
}

.description-text {
    padding: 6px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.room-title {
    overflow: hidden;
    white-space: nowrap;
    padding: .2em 0;
    text-overflow: ellipsis;
}

.danmaku-card-content {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px 16px;
}

.danmaku-card-title {
    width: 100%;
}

.danmaku-card-title p {
    font-size: 1.2em;
    padding: .6em .5em;
    margin-right: 76px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.live-title-avatar {
    border-radius: 100%;
    padding: 2px;
    border: 2px solid #dadada;
    margin-right: 15px;
}

.login-register-content {
    max-width: 600px;
}

.user-danmaku-name {
    color: #4fc1e9 !important;
}

.user-danmaku {
    font-size: 16px;
    padding: 2px;
}

.user-danmaku span {
    color: rgba(0, 0, 0, .7)
}

.image-border {
    padding: 5px;
    border-radius: 15px;
    border: solid #D5D5D5;
}

.user-center-left {
    padding-bottom: 1em;
}

.user-info-right {
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-info-setting {
    font-size: 14px;
    margin-left: 1em;
}

.alipay-card {
    width: 146px;
    height: 146px;
    background-size: 100%;
    background-image: url('//s-img.niconico.in/large/a15b4afegw1f4ewwerf4cj20nw0nwgmx.jpg');
}

.user-info-right-content {
    line-height: 1.6em;
}

.input-group-padding-bottom {
    padding-bottom: .5em;
}

.input-group-padding-top {
    padding-top: .5em;
}

.file-input::after {
    content: '已选择，点击完成上传';
}

.c-indicator {
    top: 4px;
}

.background-image {
    background-size: cover;
    background-position: center;
}

.video-card {
    background-size: cover;
    background-position: center;
    min-height: 120px;
    border-radius: 2px;
    overflow: hidden;
}

.video-card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.45);
}

.video-card-title p {
    padding: 6px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.video-card-description {
    font-size: 14px;
    padding: .5em 0;
}

.video-card-description li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 1600px) and (max-width: 1900px) {
    .main-content {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media (min-width: 1900px){
    .main-content {
        max-width: 1680px;
        margin: 0 auto;
    }
}