<!DOCTYPE html>
<html>
<head>
    {{>layout/head}}
    <style>
        .player {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{>layout/header}}
    {{>layout/nav}}
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid channel-content">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
                <video class="player" id="live-player"
                       poster="https://ws4.sinaimg.cn/large/005QOdTPjw1fbkp0j6zy6j30zk0k0dki.jpg"
                       controls></video>
                <div class="mdl-card__supporting-text" style="width: auto">
                    <span class="mdl-color-text--blue-grey-800" style="font-size: 1.5rem">{{channel.name}}</span>
                    {{#channel.streaming}}
                        <span class="mdl-color-text--cyan-A400" style="float: right">正在直播</span>
                    {{/channel.streaming}}
                    {{^channel.streaming}}
                        <span class="mdl-color-text--grey" style="float: right">尚未直播</span>
                    {{/channel.streaming}}
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-shadow--2dp">

            </div>
        </div>
    </main>
</div>
{{>layout/footer}}
<script src="//cdn.bootcss.com/hls.js/0.6.16/hls.min.js"></script>
<script>
    var Player = function (config) {
        this.videoElement = config.element
        this.hlsUrl = config.hlsUrl
        this.init = function () {
            var video = this.videoElement
            if (Hls.isSupported()) {
                var hls = new Hls();
                hls.loadSource(this.hlsUrl);
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, function () {
                    video.play();
                });
            } else {
                console.log("浏览器不支持 hls.js")
            }
        }
    };

    (function () {
        axios.get("/api/channels/{{channel.id}}/playurl").then(function (response) {
            if (response.status == 200) {
                var data = response.data
                var player = new Player({
                    "element": document.getElementById('live-player'),
                    "hlsUrl": data.HLS
                })
                player.init()
            }
        }).catch(function (error) {
            console.log(error)
        })
    })();
</script>
</body>
</html>