<!DOCTYPE html>
<html>
<head>
    {{>layout/head}}
    <style>
        .player {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{>layout/header}}
    {{>layout/nav}}
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid channel-content">
            <div class="mdl-cell mdl-cell--11-col mdl-cell--4-col-phone mdl-card mdl-shadow--2dp player-container">
                <div class="player-content margin-right--large-screen-only">
                    <video class="player" id="live-player"
                           poster="https://ws4.sinaimg.cn/large/005QOdTPjw1fbkp0j6zy6j30zk0k0dki.jpg"
                           controls></video>
                    <div class="mdl-card__supporting-text" style="width: auto">
                        <span class="mdl-color-text--blue-grey-800" style="font-size: 1.5rem">{{channel.name}}</span>
                        {{#channel.streaming}}
                            <span class="mdl-color-text--cyan-A400" style="float: right">正在直播</span>
                        {{/channel.streaming}}
                        {{^channel.streaming}}
                            <span class="mdl-color-text--grey" style="float: right">尚未直播</span>
                        {{/channel.streaming}}
                    </div>
                </div>
                <div class="chat-container mdl-layout--large-screen-only">
                    <div class="notice-container mdl-color--grey-100">
                        <div class="notice-content">
                            <span style="font-weight: 900">实时在线人数：</span>
                            <span style="font-size: 12px;" id="online-number">loading...</span>
                        </div>
                    </div>
                    <div class="chat-message-container mdl-color--grey-50" id="printScroll">
                        <ul class="chat-messages" id="printWall">
                            <!--<li class="chat-message-item">
                                <span class="chat-message-username">用户名:</span>
                                <span class="chat-message-content">消息内容</span>
                            </li>-->
                        </ul>
                    </div>
                    <div class="chat-dispatch mdl-color--grey-200">
                        <div class="chat-sender">
                            <div class="chat-input-field">
                                <textarea class="chat-textarea" id="chat-textarea" placeholder="快来跟大家一起聊天吧~"></textarea>
                            </div>
                            <div class="chat-send" id="chat-send-btn">发送</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    var rid = {{channel.id}}
</script>
{{>layout/footer}}
<script src="//cdn.bootcss.com/hls.js/0.6.17/hls.min.js"></script>
<script src="//cdn.bootcss.com/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script src="/js/danmaku.js"></script>
<script src="/js/channel.js"></script>
<script src="/js/init.js"></script>
</body>
</html>