<!DOCTYPE html>
<html>
<head>
{{>layout/head}}
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{>layout/header}}
    {{>layout/nav}}
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            <ul class="mdl-cell mdl-cell--12-col channel-list">
                {{#channels}}
                    <li class="mdl-cell mdl-card mdl-shadow--2dp live-snapshot">
                        <a href="/{{id}}">
                            <div class="mdl-card__title mdl-card--expand mdl-color--grey-400"
                                 style="background-image:url('{{streamKey}}')">
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-500">
                                <span class="mdl-color-text--blue-grey-800" style="font-size: 1.1rem">{{name}}</span><br/>
                                <span style="font-size: .6rem">有 64亿 名观众在观看 {{user.username}}</span>
                            </div>
                        </a>
                    </li>
                {{/channels}}
                {{^channels}}
                    <h4>木有人在直播</h4>
                {{/channels}}
            </ul>
        </div>
    </main>
</div>
{{>layout/footer}}
<script src="/js/init.js"></script>
</body>
</html>