<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
{{#publishUrl}}
    推流地址:{{.}}
{{/publishUrl}}
{{^publishUrl}}
    <a href="/api/user/channel/new">点击</a>创建您的直播频道
{{/publishUrl}}
</body>
</html>