html, body, button, div, h4, input, label, textarea, span {
    font-family: 'Roboto', 'Helvetica', 'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', '微软雅黑', Tahoma, Verdana, sans-serif !important;
}

a {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.demo-drawer {
    border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.channel-list {
    text-align: center;
}

.live-snapshot {
    max-width: 330px;
    display: inline-block;
}

.live-snapshot .mdl-card__title {
    background-size: cover;
    background-position: center;
    min-height: 185px;
}

.live-snapshot .mdl-card__supporting-text {
    padding: 8px 12px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
}

.channel-content .player-container {
    margin: 8px auto;
}

.account-content {
    max-width: 900px;
}

.player-content {
    padding-right: 350px;
}

.mdl-layout.is-small-screen .margin-right--large-screen-only {
    padding-right: 0;
}

.chat-container {
    position: absolute;
    width: 340px;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid #e5e4e4;
}

.notice-container {
    position: absolute;
    top: 0;
    height: 37px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e5e4e4;
}

.notice-content {
    padding: 7px 10px;
    line-height: 22px;
    color: #656565;
    font-size: 14px;
}

.chat-message-container {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 86px;
    overflow-y: scroll;
}

.chat-dispatch {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 86px;
}

.chat-messages {
    list-style: none;
}

.chat-message-item {
    padding: 0;
    margin: 5px 11px;
}

.chat-input-field, .chat-send {
    position: absolute;
    top: 20px;
    bottom: 20px;
}

.chat-input-field {
    left: 20px;
    right: 86px;
    background-color: #fff;
}

.chat-send {
    right: 20px;
    width: 66px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #04c073;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-send:hover {
    opacity: .7;
}

.chat-textarea {
    position: absolute;
    width: 92%;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 8px 9px;
    border: 1px solid #d8d8d8;
    border-right-width: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background: 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    resize: none;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.chat-textarea:focus {
    border-color: #1dd388;
}

.chat-message-username {
    cursor: pointer;
    color: #04c073;
}

.chat-message-content {
    font-size: 14px;
    word-break: break-all;
}

.system-message-name, .system-message-content {
    color: red;
}

.system-message-content {
    word-break: break-all;
}